html {
	overflow: hidden;
}

html {
	font-family: 'Lato', sans-serif;
}

#signDiv > img {
	position: relative;
	float: right;
}

#signDiv > .container {
   text-align: center;
   position: absolute;
   top: 40%; 
   left: 40%; 
   width: 260px; 
}